<% @flats.each do |flat| %>
  <p>
    Name: <%= flat.name %><br>
    Address: <%= flat.address %><br>
    Price per Night: <%= flat.price_per_night %><br>
    Number of Guests: <%= flat.number_of_guests %>
  </p>
<% end %>